{% extends 'store/layout.html' %}
{% load static%}

{% block title %} men {% endblock %}


{% block body %}
<section class="section-3">
    <div class="row">
        <h1> <span class="stylized-underline">MEN</span></h1>
        <div class="grid-container col-md-12 item-grid" id="men">
            <!-- Grid items will be dynamically added here -->
        </div>
        <div class="button-container">
            <button id="load-more" class="centered-button fade-button">Load More</button>
        </div>
        
    </div>
    
</section>
{% endblock %}