{% extends 'store/layout.html' %}
{% load static%}

{% block title %} Store Policy {% endblock %}


{% block body %}
    <section id="policy" class="section-3">
        <div id="contact-row" class="row">
            <h1><span class="stylized-underline">STORE POLICY</span></h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Customer Care</h5>
                        <p>I’m a customer care section. I’m a great place to write a long text about your company and your services, and, most importantly, how to contact your store with queries. Writing a detailed customer care policy is a great way to build trust and reassure your customers that they can buy with confidence.</p>
                        <p>I'm the second paragraph in your customer care section. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add details about your policy and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="returns" class="section-3">
        <div id="stockists-row" class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Privacy &amp; Safety</h5>
                        <p>I’m a privacy &amp; safety policy section. I’m a great place to inform your customers about how you use, store, and protect their personal information. Add details such as how you use third-party banking to verify payment, the way you collect data or when will you contact users after their purchase was completed successfully.</p>
                        <p>Your user’s privacy is of the highest importance to your business, so take the time to write an accurate and detailed policy. Use straightforward language to gain their trust and make sure they keep coming back to your site!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="shipping" class="section-3">
        <div id="contact-row" class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Wholesale Inquiries</h5>
                        <p>I’m a return policy section. I’m a great place to let your customers know what to do in case they’ve changed their mind about their purchase, or if they’re dissatisfied with a product. Having a straightforward refund or exchange policy is a great way to build trust and reassure your customers that they can buy with confidence.</p>
                        <p>I'm the second paragraph in your shipping policy section. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add details about your policy and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="payment" class="section-3">
        <div id="stockists-row" class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Payment Methods</h5>
                        <p>Credit / Debit Cards</p>
                        <p>PAYPAL</p>
                        <p>Offline Payments</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}