// Variables
$highlight-color: rgb(255, 98, 0, 1);
$gray: #D3D3D3;
// $highlight-color: #C8A2C8;
//ff6200
// $highlight-color: #F0EC62;
// $highlight-color: #D79922;
// #05386B;
// #BC986A
// #907163
// 379683
//* #7E685A

// Classes
%section {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding: 30px;
  padding-left: 0;
  padding-right: 0;
  font-family: 'heading-font', sans-serif;
}

%button-design {
  background-color: $highlight-color;
  border: 3px solid $highlight-color;
  width: 5%;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  transition: opacity 0.3s ease-in-out;
}

%search-bar {
  padding: 5px;
  padding-left: 4%;
  font-family: sans-serif;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: small;
  background: url(assets/search.png) no-repeat 10px center;
}

// Custom font
@font-face {
  font-family: heading-font;
  src: url(fonts/PathwayGothicOneRegular-A9Xp.ttf);
}

/* Global */
/* -------------------------------------------------- */
body {
  background-color: white;
  padding-top: 70px;
}

// Social media icons 
.social-media-icon-container {
  position: fixed;
  top: 20%;
  right: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.social-media-icon-container a {
  margin-bottom: 10px;
}

.social-media-icon-container img {
  width: 16px;
  height: 16px;
}
/* -------------------------------------------------- */
/* Global END */

/* NAVBAR */
/* -------------------------------------------------- */
.navbar {
  margin: 0 5%;
  background-color: #fff;

  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.navbar-brand-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-left: 0;
  width: 10%;
}
.logo {
  background-color: #000;
  color: #fff;
  padding: 0 1%;
  margin-left: 0;
  height: 60px;
  text-align: center;
  line-height: 2;
  font-family: 'heading-font', sans-serif;
  font-size: 40px;
  letter-spacing: 5px;
}

.logo:hover {
  color: $highlight-color;
}

/* Search bar */
.search-bar {
  position: relative;
  text-align: right;
  display: flex;
  align-items: center;
  width: 200px;
  height: 55px;
  border-bottom: 1.5px solid transparent;
  transition: border-bottom-color 0.3s;
}

.search-bar:hover,
.search-bar:focus-within {
  border-bottom-color: #181616;
}

.search-bar input[type="text"] {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 30px;
  background: url(assets/search.png) no-repeat 5px center;
  background-size: 16px;
}

.search-bar .clear-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  display: none;
  background-color: $gray;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  cursor: pointer;
}

.search-bar .clear-icon:hover {
  background-color: #333;
}

#searchInput::placeholder {
  color: #000;
}

/* Push options to the right  */
.filler {
  flex: 10;
}
.navbar-nav {
  margin-left: auto;
}

.menu-items {
  .nav-link:hover {
    color: $highlight-color;
  }
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: $highlight-color;
}

/* Cart Icon */
.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-icon #cartItemCount {
  position: absolute;
  top: -5px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: $highlight-color;
  border-radius: 50%;
}


/* -------------------------------------------------- */
/* NAVBAR END */

/* HOME PAGE */
/* -------------------------------------------------- */

/* Section design */
.section-1 {
  @extend %section;
  background-color: $highlight-color;
  color: white;

  h1, h3 {
    padding: 10px;
    margin: 0;
    font-size: 5em;
  }

  h3 {
    font-size: 2.5em;
  }
}

.section-1 button {
  margin: 10%;
  width: 70%;
}

.section-2 {
  @extend %section;
  padding-top: 1%;
  

  .carousel-item {

    .w-100 {
      width:auto;
      height:700px;
    }
  }
}
.section-3 {
  @extend %section;
}

.stylized-underline {
  display: inline-block;
  position: relative;
  margin-bottom: 0.25em;
  font-size: 3em;
  background-image: linear-gradient(to right, $highlight-color, $highlight-color);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 20px;
  line-height: 0.8;
}


.stylized-underline::after {
  
  position: relative;
  width: 100%;
  height: 7px;
  top: 50%;
  padding: 0 10%;
}


/* Product range list */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 60px;
  padding: 20px;

  &.search {
    grid-gap: 30px;
  }
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  max-width: 300px;
  img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }

  h3 {
    margin-top: 10px;
  }

  p {
    color: $highlight-color;
  }
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 5px;
    padding: 5px;
  }
}

/* Button design  */
.rectangular-button {
  padding: 10px 20px;
  border: 3px solid #fff;
  background-color: $highlight-color;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.rectangular-button:hover {
  background-color: #fff;
  color: $highlight-color;
}

/* Small Button design  */
.rectangular-button-inverted {
  padding: 10px 20px;
  width: 10%;
  border: 3px solid $highlight-color;
  background-color: #fff;
  color: $highlight-color;
  transition: background-color 0.3s ease-in-out;
}

.rectangular-button-inverted:hover {
  background-color: $highlight-color;
  color: #fff;
}

.fade-button {
  @extend %button-design;
}

.fade-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* Center div */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.centered-button {
  margin: 1px;
  padding: 10px 20px;
  font-size: 16px;
  white-space: nowrap;
  min-width: max-content;
}

.button-link {
  text-decoration: none;
  color: inherit;
  width: inherit;
}

/* -------------------------------------------------- */
/* HOME PAGE END */

/* SHOP */
/* -------------------------------------------------- */
#load-more {
  @extend %button-design;
  width: 20%;
  font-size: 1.2em;
  font-weight: 100;
}
/* -------------------------------------------------- */
/* SHOP END */

/* ABOUT */
/* -------------------------------------------------- */
.about {
  padding: 10%;
  .about-paragraph {
    text-align: left;  
    font-family: sans-serif;
    font-weight: 100;
  }
}
/* -------------------------------------------------- */
/* ABOUT END */

/* CONTACT */
/* -------------------------------------------------- */
#contact, #stockists, #enquiry {
  
  .col-md-6, .col-md-4, .col-md-12 {
    font-family: sans-serif;

    h5 {
      font-weight:700;
      margin: 5% 0;
    }
    p{
      line-height: 0.4;
      font-weight: 100;
    }
  }
}

#contact-row, #stockists-row {
  padding: 0 20%;
}

.blank-dot {
  width: 10px;
  height: 10px;
  text-align: center;
}

.text-wrapper {
  display: flex;
  justify-content: center;
  h5 {
    width: 50%; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    text-align: center;
  }
}

.contact-form-body {
  padding: 0 20%;
  padding-bottom: 100px;
}
.contact-form {
  transition: background-color 0.3s;
  width: 100%;
  font-weight: 100;

  &:hover {
    background-color: rgb($highlight-color, 0.5);

  }

  &::placeholder {
    color: $highlight-color;
    font-size: 18px;
    font-weight: 100;
  }

  &:focus {
    background-color: $gray;
    outline: none;
    color: $highlight-color;
  }

}

#contact-button {
  padding-left: 0;
}

.contact-form-button {
  width: 80%;
}
/* -------------------------------------------------- */
/* CONTACT END */

/* SHIPPING & RETURNS & POLICY & PAYMENT */
/* -------------------------------------------------- */
#shipping, #returns, #payment, #policy {
  .col-md-12 {
    padding: 4% 20%;
  }
  h5 {
    padding-bottom: 1%;
  }
  p {
    font-family: sans-serif;
    line-height: 1.5;
    font-weight: 100;
    font-size: 14px;
  }
}
/* -------------------------------------------------- */
/* SHIPPING & RETURNS END */

/* FAQ */
/* -------------------------------------------------- */
.faq-search-bar {
  display: flex;
  align-items: center;
}

.header-container h2 {
  text-align: center;
}

.search-icon {
  font-size: 20px;
}

.faq-section {
  display: none;
}

.faq-section.active {
  display: block;
}

.faq-navbar {
  font-family: sans-serif;
  margin: 10px 5% 30px;
  display: flex;
}

.faq-navbar-item {
  cursor: pointer;
  margin-right: 10px;
}

.faq-navbar-item.active {
  font-weight: bold;
  color: $highlight-color;
}


.faq {
  h2 {
    letter-spacing: 2px;
  }
}

.faq-item {
  margin: 10px 5%;
  border-bottom: 1px solid $highlight-color;
  text-align: left;
  width: 90%;
  padding-bottom: 2%;
}

.question {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.question p {
  margin: 0;
  flex-grow: 1;
}

.answer {
  display: none;
  padding: 5% 0 2% 0;
}

.answer.show {
  display: block;
  font-family: sans-serif;
}

.dropdown-icon {
  font-size: 0.6em;
  margin-left: 10px;
}

.rotate {
  transform: rotate(180deg);
}

.rotate-reverse {
  transform: rotate(0deg);
}

// FAQ search bar animation 
.faq-search-bar {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 10%;
  margin: 10px 5% 30px;
}

.header-container .faq-heading {
  text-align: center;
  width: 100%;
}

.search-container {
  position: absolute;
  width: inherit;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 90%;
  
  font-weight: 100;
}

.search-input {
  display: none;
  @extend %search-bar;
  padding-left: 30px;
}

.search-input::placeholder {
  font-family: sans-serif;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: small;
}

.close-icon {
  display: none;
  margin-left: 10px;
  cursor: pointer; 
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
}

.search-icon {
  cursor: pointer;
}

.search-container.show-input .search-icon {
  display: none;
}

.search-container.show-input .search-input {
  display: block;
  width: 100%;
}

.search-container.show-input .close-icon {
  display: block;
}
/* -------------------------------------------------- */
/* FAQ END */

/* SEARCH */
/* -------------------------------------------------- */
.search-page-search-bar-container {
  position: relative;
  display: inline-block;
}

.search-result-input {
  @extend %search-bar;
  font-family: sans-serif;
  line-height: 2;
  font-size: medium;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 35px;
  outline: none;
  margin-bottom: 4%;
  width: 100%;
}

#search-page-close-icon {
  display: none;
  margin-left: 10px;
  cursor: pointer;
  position: absolute;
  top: 23px;
  // transform: translateY(-50%);
  right: 30px;
}

.search-results-container {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;

  .search-filter-heading {
    text-align: left;
    font-weight:100;
    font-size: large;
    font-family: sans-serif;
    padding-top: 2%;
    padding-left: 2%;
  }
}

// Checklist
#skuTagsList {
  list-style: none; /* Remove bullet points */
  padding: 0;
  margin: 0;
  text-align: left;
  font-family: sans-serif;
  li {
    font-weight: 100;
  }
}

.checkbox-label {
  margin-left: 2%; /* Add space between checkbox and tag name */
}

input[type="checkbox"]:checked + label::after {
  content: '';
  position: absolute;
  width: 1.6ex;
  height: 0.8ex;
  background: rgba(0, 0, 0, 0);
  top: 1.0ex;
  left: 0.6ex;
  border: 3px solid $highlight-color;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
       
input[type="checkbox"] {
  line-height: 2.1ex;
}
       
input[type="radio"],
  input[type="checkbox"] {
  position: absolute;
  left: -999em;
    
}
       
input[type="checkbox"] + label {
  position: relative;
  overflow: hidden;
  cursor: pointer;
 
}
       
input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: -25%;
  height: 2ex;
  width: 2ex;
  background-color: white;
  border: 1px solid #000;
  margin-right: 0.5em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}

.sku-count {
  color: gray;
}

// Slider
#price-range {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 10px;
}
#selected-min-price, #selected-max-price {
  position: absolute;
  top: 15px;
}
#selected-min-price {
  left: 0;
}

#selected-max-price {
  right: 0;
}
#price-range .ui-slider {
  margin: 0;
  padding: 0;
  height: 4px; /* Adjust the height of the slider track */
}
#price-range .ui-slider-handle {
  border-radius: 50%;
  background-color: $highlight-color;
  border: 1px solid $highlight-color;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.ui-slider-handle {

  &:active {
  background-color: rgb($highlight-color, 0.5);
  border: 1px solid $highlight-color;
  }
  &:focus {
    outline: none;
  }
}

#price-range .ui-slider-range {
  background-color: $highlight-color;
  height: 5px;
  height: 100%;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
}

#price-range .ui-slider-range.ui-slider-range-min {
  background-color: $highlight-color;
}

#price-range .ui-slider-range.ui-slider-range-max {
  background-color: $highlight-color;
}

.ui-widget.ui-widget-content {
  background-color: $gray;
  height: 5px;
  border: none;
  cursor: pointer;
  width: 98%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

// Keyword result and sort option
.search-keyword-result {
  display: flex;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  font-family: sans-serif;
  font-weight: 100;
}

.result-right {
  margin-left: auto;
  #sortDropdown {
    // text-align: right;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: lighter;
    width: auto;
  }

}


/* -------------------------------------------------- */
/* SEARCH END*/

/* FOOTER */
/* -------------------------------------------------- */
.footer {
  @extend %section;
  background-color: black;
  color: #fff;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 90%;
  div {
    padding: 2% 5%;

    &.container-subscribe-box {
      padding: 0;
      margin: 0;
      width: 60%;
      input {
        width: 100%;
      }
    }
  }
}

#links {
  padding-right: 0; 
  text-align: left; 
  a {
    text-decoration: none; 
    color: #fff;
  }
}
#form-subscribe {
  text-align: left;
  padding-top: 3%;
  padding-left: 0;
  line-height: 0.5;

  strong {
    font-size: larger;
  }

  form {
    input {
      display: block;
      margin: 2% 0;
      width: 100%;
      height: 100%;
      line-height: 1;
      font-weight: 100;
    }

    input[type="email"] {
      background-color: black;
    }
  }
  
}

#email::placeholder {
  color: #fff;
  font-weight: 100;
  margin-left: 5%;
}

.subscribe-form {
  position: relative;
  display: inline-block;
}
.email {
  padding: 8px;
  border: 2px solid;
  color: #fff;
}

.email:hover {
  border-width: 3px;
  padding: 7px;
}

.email:focus {
  outline: none;
  border-width: 3px;
  padding: 7px;
}

.email.invalid {
  border-color: red;
}

#form-subscribe-heading {
  padding-bottom: 0;
}
#form-subscribe-box {
  padding-top: 0;
}

/* -------------------------------------------------- */
/* FOOTER END */