/* -------------- Global classes ---------------------- */
.dBlock {
  display: block;
}

.center {
  text-align: center;
}

.mt-5 {
  margin-top: 5%;
}

.mt-10 {
  margin-top: 10%;
}

.mb-5 {
  margin-bottom: 7%;
}

.mt-15 {
  margin-top: 15%;
}

.marginleft {
  margin-left: 266px;
}

.dflex {
  display: flex;
}
.color {
  color: rgb(249, 60, 0);
}

/* -----------------navbar------------------- */

nav {
  display: flex;
  gap: 40px;
}

.logo img {
  height: 5vh;
  width: auto;
}

.logo {
  margin: 0 auto;
}
.burger {
  position: relative;
  align-self: center;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

.search {
  display: flex;
  align-items: center;
}

.shop {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  nav {
    display: flex;
    gap: 0px;
  }

  .logo img {
    height: 5vh;
    width: auto;
  }

  .logo {
    margin: 0 auto;
  }
  .burger {
    position: relative;
    align-self: center;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
  }

  .burger input {
    display: none;
  }

  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
  }

  .burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
  }

  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }

  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
  }

  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }

  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }

  .search {
    display: flex;
    align-items: center;
  }

  .shop {
    display: flex;
    align-items: center;
  }
}
/* nav bar css end  */

/*  footer css  */
.footer-top {
  height: 100px;
  background: rgb(249, 60, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mail-box {
  margin-right: 5%;
  text-align: center;
}
.e-form {
  width: 672px;
  height: 40px;
  border-radius: 50px;
  background: #fff;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.e-form input {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0;
  outline: 0;
  width: 100%;
  padding-left: 10px;
  background-color: white;
}
.sub-btn {
  display: flex;
  width: 165.12px;
  height: 34.4px;
  padding: 11px 39px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #000;
  color: var(--cold-grey-white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sub{
  margin-left: 10%;
  color: white;
}
.footer-middle {
  display: flex;
  justify-content: space-between;
}

.first {
  margin-left: 5%;
  margin-right: 5%;
  flex: 1;
  max-width: 30%;
}

.second, .third, .forth {
  flex: 1;
  max-width: 30%;
}
.footer-location p{
  margin-left: 2%;
}
.footer-mail p{
  margin-left: 2%;
}
.footer-underdogs {
  white-space: pre-line;
}
.footer-location, .footer-mail{
  display: flex;
  align-items: center;
}

.footer-location img, .footer-mail img{
  width: 5%;
}

.footer-middle img {
  max-width: 100%;
}

.first img{
  width: 200px;
}
.footer-location img, .footer-mail img, .footer-social-icon img {
  max-width: 100%;
}
.footer-last p{
  margin-left: 3%;
}
.footer-for-phone {
  display: none;
}
.footer-for-desktop {
  display: block;
}
@media screen and (max-width: 900px) {
  .footer-for-phone {
    display: block;
  }
  .footer-for-desktop {
    display: none;
  }
  footer {
    text-align: center;
    margin-top: 15%;
  }

  .top-options {
    display: flex;
    justify-content: center;
  }

  .colorBlack {
    color: black;
    font-weight: bolder;
    margin: auto;
    margin-bottom: 6%;
  }

  .colorGrey {
    color: grey;
    font-size: medium;
  }

  .marginTop {
    margin-top: 7%;
  }

  .copyright {
    margin-bottom: 9%;
  }

  .marginMedia {
    margin: 5%;
  }

  .social-media img {
    height: 40px;
    width: 40px;
  }
}

/* footer css ends here  */

/* Home page */
.btn {
  display: inline-flex;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background-color: rgba(249, 60, 0, 1);
  color: white;
  border: none;
  margin: auto;
}

.btnmain {
  display: flex;
  margin: auto;
}
.title {
  text-align: center;
}

.new-ones {
  margin-top: 2%;
}

.list {
  margin-top: 4%;
  display: flex;
  text-align: center;
}

.list li {
  list-style: none;
  margin-left: 4.5%;
  font-size: larger;
  color: grey;
  margin: auto;
}

.new-arival-images {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  text-align: center;
}

.unit-info {
  margin-left: 5%;
}

.unit-title h4 {
  color: rgba(249, 60, 0, 1);
  font-size: larger;
}

.unit-desc {
  font-size: small;
  color: rgba(136, 136, 136, 1);
}

.price h4 {
  font-size: xx-large;
  color: rgba(249, 60, 0, 1);
}

.product-color {
  display: flex;
  justify-content: center;
}

.color_options {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 2% 0px 2%;
  transition: all 0.3s ease; /* Added transition property */
}
.option1 {
  background-color: palevioletred;
}
.option2 {
  background-color: rgb(0, 151, 149);
}
.option3 {
  background-color: rgb(255, 222, 112);
}
.hide {
  display: block;
}

.color_options:hover {
  width: 22px;
  height: 22px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.533);
}
.extra-image {
  width: 120px;
  margin: 10% 4% 3% 4%;
}
.more-img {
  display: flex;
}

.explore {
  display: flex;
  margin: auto;
  margin-top: 2%;
  padding: 12px 26px 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 28px;
  border: 1px solid #000;
  background: #fff;
}

.discount {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.discount img {
  width: 50%;
}

.trending h1 {
  text-align: center;
}

.tags {
  display: flex;
  justify-content: center;
}

.tags span {
  margin-right: 5px;
  padding: 8px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  background: #f1f1f1;
}

.features {
  text-align: center;
  background-color: rgb(241, 241, 241);
  color: grey;
  padding: 4%;
  margin-top: 6%;
}

.features h1 {
  color: black;
}

.delivery {
  margin-top: 5%;
}

.checkbox {
  margin-top: 5%;
}

.man {
  margin-top: 5%;
}

.socials h1 {
  text-align: center;
}

@keyframes slidy {
  from {
    /*Has to be adjusted per Image amount.*/

    left: 0%;
  }

  to {
    left: -43%;
  }
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    /* Adjust the percentage based on the number of slides */
  }
}

#slider {
  width: 100%;
  overflow: hidden;
  margin: 100px auto;
}

#slider-image-container {
  /*This needs to be large enough to house all Images*/
  /*Take Image size, times by amount of Images (400x5=2000px)*/
  width: 2000px;

  margin: 0 auto;
  position: relative;
  /*Manually set centerish for Codepen*/
  /*Animation repeats forwards and backwards with rubber-banding effect*/
  animation: slideAnimation 15s linear infinite;
  /* animation: slidy 10s infinite linear alternate-reverse ; */
}

.slider-image {
  float: left;
  padding: 10px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.socials {
  margin-top: 7%;
  text-align: center;
}

@media screen and (max-width: 900px) {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: Verdana, sans-serif;
  }

  img {
    vertical-align: middle;
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .dot {
    height: 6px;
    width: 30px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 20%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: rgb(249, 60, 0);
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.8;
    }

    to {
      opacity: 1;
    }
  }

  .btnmain {
    display: flex;
    justify-content: center;
  }

  .btn {
    margin-top: 2%;
    width: 50%;
    color: white;
    font-weight: bold;
    background-color: rgb(249, 60, 0);
    border-style: none;
    border-radius: 30px;
  }

  .title {
    text-align: center;
  }

  .new-ones {
    margin-top: 10%;
  }

  .list {
    display: flex;
    text-align: center;
  }

  .list li {
    list-style: none;
    margin-left: 4.5%;
    font-size: larger;
    color: grey;
  }

  .new-arival-images {
    display: block;
    text-align: center;
  }

  .new-arival-images img {
    width: 100%;
  }
  .price {
    position: absolute;
    right: 5%;
  }
  .text-desc {
    display: flex;
    align-items: center;
    width: 35%;
  }

  .text-desc span {
    color: grey;
  }

  .hide {
    display: none;
  }
  .price {
    color: rgb(249, 60, 0);
    font-weight: lighter;
  }

  .explore {
    margin-top: 7%;
    height: 50px;
    width: 55%;
    background-color: transparent;
    border: none;
    border: 2px solid black;
    border-radius: 30px;
    color: black;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    padding-top: 1.6%;
  }

  .discount {
    margin-top: 20%;
    text-align: center;
  }

  .discount img {
    width: 100%;
  }

  .trending {
    text-align: center;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    justify-content: center;
  }

  .tags span {
    margin: 5px;
    background-color: rgb(170, 169, 169);
    font-size: medium;
    border-radius: 30px;
    padding: 5px 10px;
  }

  .features {
    text-align: center;
    margin-top: 10%;
    background-color: rgb(241, 241, 241);
    color: grey;
    padding: 8%;
  }

  .features h1 {
    color: black;
  }

  .delivery {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .checkbox {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .man {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  @keyframes slidy {
    from {
      /*Has to be adjusted per Image amount.*/

      left: 0%;
    }

    to {
      left: -43%;
    }
  }

  @keyframes slideAnimation {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
      /* Adjust the percentage based on the number of slides */
    }
  }

  #slider {
    width: 100%;
    overflow: hidden;
    margin: 100px auto;
  }

  #slider-image-container {
    /*This needs to be large enough to house all Images*/
    /*Take Image size, times by amount of Images (400x5=2000px)*/
    width: 2000px;

    margin: 0 auto;
    position: relative;
    /*Manually set centerish for Codepen*/
    /*Animation repeats forwards and backwards with rubber-banding effect*/
    animation: slideAnimation 15s linear infinite;
    /* animation: slidy 10s infinite linear alternate-reverse ; */
  }

  .slider-image {
    float: left;
    padding: 10px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  .socials {
    margin-top: 7%;
    text-align: center;
  }
}

/* -----------------Checkout Page------------------------ */

.button {
  width: 40%;
  height: 47px;
  background-color: rgb(249, 60, 0);
  font-weight: bold;
  color: white;
  border-style: none;
  border-radius: 30px;
}

.color {
  color: rgb(249, 60, 0);
}

.color-grey {
  color: grey;
}

.ml-5 {
  margin-left: 5%;
}

.address span {
  width: 60%;
}

.arrow img {
  margin-top: 50px;
}

.checkout-payment {
  margin-top: -4px;
}

.cardimg {
  height: 100%;
}

.checkout-payment h3 {
  margin-left: 13px;
  margin-top: 7%;
}

.arrow2 {
  margin-left: 20%;
}

.arrow2 img {
  align-items: center;
}

.checkout-ar2 {
  height: 100%;
  margin-top: 7%;
  margin-left: 22%;
}

.checkout-lastrule {
  margin-top: 10px;
}

.checkout-counter {
  width: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-counter input {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: center;

  appearance: none;
  outline: 0;
}

.checkout-counter span {
  display: block;
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  text-align: center;
  background-color: rgb(241, 241, 241);
  border-radius: 30px;
  user-select: none;
}
.checkout-innerbox {
  margin-left: 6px;
}
.checkout-desc {
  color: grey;
}
.checkout-innerbox2 {
  margin-top: 10px;

  padding-top: 15px;
}

.checkout-innerbox2 h3 {
  margin-left: 47px;
}

.checkout-botomsec {
  margin-top: 45%;
}

.checkout-btn {
  background-color: rgb(249, 60, 0);
  color: white;
  text-align: center;
  width: 95%;
  align-items: center;
  margin: auto;
  padding-left: 20%;
  border: none;
  height: 12%;
  border-radius: 30px;
}
.checkout-btn img {
  height: 30px;
  width: 30px;
}

/* ------------------------------------------------------------------*/

/* ----------------Add new Address------------------------------------- */

.address-title {
  text-align: center;
}

.address-form {
  text-align: center;
}

.address-form input {
  border-style: none;
  border-bottom: 2px solid grey;
  margin-top: 10%;
}

.address-form-address input {
  width: 92%;
}

.address-form-city input {
  width: 92%;
}

.address-form-phone input {
  width: 92%;
}

.address-btn {
  margin-top: 82%;
  background-color: rgb(249, 60, 0);
  color: white;
  text-align: center;
  width: 95%;
  align-items: center;
  border: none;
  height: 12%;
  border-radius: 30px;
}

.address-btn1 {
  text-align: center;
}
.address-shipping h4 {
  margin-left: 15px;
}

/* -------------------------Checkout2----------------------------- */
