/* -------------- Global classes ---------------------- */
.dBlock {
  display: block;
}

.center {
  text-align: center;
}

.mt-5 {
  margin-top: 5%;
}

.mt-10 {
  margin-top: 10%;
}

.mb-5 {
  margin-bottom: 7%;
}

.mt-15 {
  margin-top: 15%;
}

.marginleft {
  margin-left: 266px;
}

.dflex {
  display: flex;
}
.color {
  color: rgb(249, 60, 0);
}

/* -----------------navbar------------------- */
.menu-container {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: 0.3s;
  overflow-y: auto;
  padding-top: 60px;
  z-index: 1;
}
.menu-content {
  padding: 20px;
}
.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.overlay-hamburger {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  width: 70%;
  height: 80%;
}
.popup p {
  font-size: larger;
}
.emptycart-img {
  width: 50%;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
nav {
  display: flex;
  gap: 40px;
}

.logo img {
  height: 5vh;
  width: auto;
}

.logo {
  margin: 0 auto;
  align-self: center;
}
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: black; /* Change 'white' to 'black' */
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.search {
  display: flex;
  align-items: center;
}

.shop {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  nav {
    display: flex;
    gap: 0px;
    margin-bottom: 3%;
  }

  .logo img {
    height: 5vh;
    width: auto;
  }

  .logo {
    align-self: center;
    margin: 0 auto;
  }
  .hamburger {
    cursor: pointer;
  }

  .hamburger input {
    display: none;
  }

  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: black; /* Change 'white' to 'black' */
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  .search {
    display: flex;
    align-items: center;
    margin-right: 5%;
  }

  .shop {
    display: flex;
    align-items: center;
  }
  .emptycart-img {
    width: 100%;
  }
}
/* nav bar css end  */

/*  footer css  */

.footer-last {
  text-align: center;
  margin-top: 2%;
}

.footer-top {
  height: 100px;
  background: rgb(249, 60, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-top img {
  height: 50%;
  margin-left: 5%;
}
.mail-box {
  margin-right: 5%;
  text-align: center;
}
.e-form {
  width: 672px;
  height: 30px;
  border-radius: 50px;
  background: #fff;
  display: flex;
  padding: 10px;
  width: 480px;
  justify-content: center;
  align-items: center;
}
.e-form input {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0;
  outline: 0;
  width: 100%;
  padding-left: 10px;
  background-color: white;
}
.sub-btn {
  display: flex;
  width: 165.12px;
  height: 34.4px;
  padding: 11px 39px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #000;
  color: var(--cold-grey-white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sub {
  margin-left: 10%;
  color: white;
}
.footer-middle {
  display: flex;
  justify-content: space-between;
}

.first {
  margin-left: 5%;
  margin-right: 5%;
  flex: 1;
  max-width: 30%;
}

.second,
.third,
.forth {
  flex: 1;
  max-width: 30%;
}
.footer-location p {
  margin-left: 2%;
}
.footer-mail p {
  margin-left: 2%;
}
.footer-underdogs {
  white-space: pre-line;
}
.footer-location,
.footer-mail {
  display: flex;
  align-items: center;
}

.footer-location img,
.footer-mail img {
  width: 5%;
}

.footer-middle img {
  max-width: 100%;
}

.first img {
  width: 200px;
}
.footer-location img,
.footer-mail img,
.footer-social-icon img {
  max-width: 100%;
}
.footer-last p {
  margin-left: 3%;
}
.footer-for-phone {
  display: none;
}
.footer-for-desktop {
  display: block;
}
@media screen and (max-width: 900px) {
  .footer-for-phone {
    display: block;
  }
  .footer-for-desktop {
    display: none;
  }
  footer {
    text-align: center;
    margin-top: 15%;
  }

  .top-options {
    display: flex;
    justify-content: center;
  }

  .colorBlack {
    color: black;
    font-weight: bolder;
    margin: auto;
    margin-bottom: 6%;
  }

  .colorGrey {
    color: grey;
    font-size: medium;
  }

  .marginTop {
    margin-top: 7%;
  }

  .copyright {
    margin-bottom: 9%;
  }

  .marginMedia {
    margin: 5%;
  }

  .social-media img {
    height: 40px;
    width: 40px;
  }
}

/* footer css ends here  */

/* Home page */
.btn {
  display: inline-flex;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
  background-color: rgba(249, 60, 0, 1);
  color: white;
  border: none;
  margin: auto;
}

.btnmain {
  display: flex;
  margin: auto;
  padding-top: 10px;
}
.title {
  text-align: center;
}

.new-ones {
  margin-top: 2%;
}

.list {
  margin-top: 4%;
  display: flex;
  text-align: center;
}

.list li {
  list-style: none;
  margin-left: 4.5%;
  font-size: larger;
  color: grey;
  margin: auto;
}

.new-arival-images {
  display: flex;
  margin-top: 5%;
  justify-content: center;
  text-align: center;
}

.unit-info {
  margin-left: 5%;
}

.unit-title h4 {
  color: rgba(249, 60, 0, 1);
  font-size: larger;
}

.unit-desc {
  font-size: small;
  color: rgba(136, 136, 136, 1);
}

.price h4 {
  font-size: xx-large;
  color: rgba(249, 60, 0, 1);
}

.product-color {
  display: flex;
  justify-content: center;
}

.color_options {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0px 2% 0px 2%;
  transition: all 0.3s ease; /* Added transition property */
}
.option1 {
  background-color: palevioletred;
}
.option2 {
  background-color: rgb(0, 151, 149);
}
.option3 {
  background-color: rgb(255, 222, 112);
}
.hide {
  display: block;
}

.color_options:hover {
  width: 22px;
  height: 22px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.533);
}
.extra-image {
  width: 120px;
  margin: 10% 4% 3% 4%;
}
.more-img {
  display: flex;
}

.explore {
  display: flex;
  margin: auto;
  margin-top: 2%;
  padding: 12px 26px 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 28px;
  border: 1px solid #000;
  background: #fff;
}

.discount {
  margin-top: 3%;
  display: flex;
  justify-content: center;
}

.discount img {
  width: 50%;
}

.trending h1 {
  text-align: center;
}

.tags {
  display: flex;
  justify-content: center;
}

.tags span {
  margin-right: 5px;
  padding: 8px 10px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 30px;
  background: #f1f1f1;
}

.features {
  text-align: center;
  background-color: rgb(241, 241, 241);
  color: grey;
  padding: 4%;
  margin-top: 6%;
}

.features h1 {
  color: black;
}

.delivery {
  margin-top: 5%;
}

.checkbox {
  margin-top: 5%;
}

.man {
  margin-top: 5%;
}

.socials h1 {
  text-align: center;
}

@keyframes slidy {
  from {
    /*Has to be adjusted per Image amount.*/

    left: 0%;
  }

  to {
    left: -43%;
  }
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    /* Adjust the percentage based on the number of slides */
  }
}

#slider {
  width: 100%;
  overflow: hidden;
  margin: 100px auto;
}

#slider-image-container {
  /*This needs to be large enough to house all Images*/
  /*Take Image size, times by amount of Images (400x5=2000px)*/
  width: 2000px;

  margin: 0 auto;
  position: relative;
  /*Manually set centerish for Codepen*/
  /*Animation repeats forwards and backwards with rubber-banding effect*/
  animation: slideAnimation 15s linear infinite;
  /* animation: slidy 10s infinite linear alternate-reverse ; */
}

.slider-image {
  float: left;
  padding: 10px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.socials {
  margin-top: 7%;
  text-align: center;
}
.desktop-view-only {
  display: block;
}
.mobile-view-only {
  display: none;
}

@media screen and (max-width: 900px) {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: Verdana, sans-serif;
  }

  img {
    vertical-align: middle;
  }

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .dot {
    height: 6px;
    width: 30px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 20%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: rgb(249, 60, 0);
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.8;
    }

    to {
      opacity: 1;
    }
  }

  .btnmain {
    display: flex;
    justify-content: center;
  }

  .btn {
    margin-top: 2%;
    width: 50%;
    color: white;
    font-weight: bold;
    background-color: rgb(249, 60, 0);
    border-style: none;
    border-radius: 30px;
  }

  .title {
    text-align: center;
  }

  .new-ones {
    margin-top: 10%;
  }

  .list {
    display: flex;
    text-align: center;
  }

  .list li {
    list-style: none;
    margin-left: 4.5%;
    font-size: larger;
    color: grey;
  }

  .new-arival-images {
    display: block;
    text-align: center;
  }

  .new-arival-images img {
    width: 100%;
  }
  .price {
    position: absolute;
    right: 5%;
  }
  .text-desc {
    display: flex;
    align-items: center;
    width: 35%;
  }

  .text-desc span {
    color: grey;
  }

  .hide {
    display: none;
  }
  .price {
    color: rgb(249, 60, 0);
    font-weight: lighter;
  }

  .explore {
    margin-top: 7%;
    height: 50px;
    width: 55%;
    background-color: transparent;
    border: none;
    border: 2px solid black;
    border-radius: 30px;
    color: black;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    padding-top: 1.6%;
  }

  .discount {
    margin-top: 20%;
    text-align: center;
  }

  .discount img {
    width: 100%;
  }

  .trending {
    text-align: center;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    justify-content: center;
  }

  .tags span {
    margin: 5px;
    background-color: rgb(170, 169, 169);
    color: whitesmoke;
    font-size: medium;
    border-radius: 30px;
    padding: 5px 10px;
  }

  .features {
    text-align: center;
    margin-top: 10%;
    background-color: rgb(241, 241, 241);
    color: grey;
    padding: 8%;
  }

  .features h1 {
    color: black;
  }

  .delivery {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .checkbox {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .man {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  @keyframes slidy {
    from {
      /*Has to be adjusted per Image amount.*/

      left: 0%;
    }

    to {
      left: -43%;
    }
  }

  @keyframes slideAnimation {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-100%);
      /* Adjust the percentage based on the number of slides */
    }
  }

  #slider {
    width: 100%;
    overflow: hidden;
    margin: 100px auto;
  }

  #slider-image-container {
    /*This needs to be large enough to house all Images*/
    /*Take Image size, times by amount of Images (400x5=2000px)*/
    width: 2000px;

    margin: 0 auto;
    position: relative;
    /*Manually set centerish for Codepen*/
    /*Animation repeats forwards and backwards with rubber-banding effect*/
    animation: slideAnimation 15s linear infinite;
    /* animation: slidy 10s infinite linear alternate-reverse ; */
  }

  .slider-image {
    float: left;
    padding: 10px;
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  .socials {
    margin-top: 7%;
    text-align: center;
  }
  .desktop-view-only {
    display: none;
  }
  .mobile-view-only {
    display: block;
  }
}

/* ------------------Register page--------------------  */

.register-mainbox {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  border-radius: 30px;
}
.register-leftbox {
  width: 60%;
  padding-left: 5%;
  padding-top: 20%;
  padding-bottom: 20%;
  background-color: rgba(249, 60, 0, 1);
  color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.register-mainfield {
  border: 3px solid rgb(255, 79, 4);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 40%;
}
.register-input {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-input input {
  width: 80%;
  margin-top: 4%;
  height: 25px;
  border-radius: 30px;
  border-style: groove;
  border: 1px solid black;
}
.register-btn {
  text-align: center;
  margin-top: 4%;
}
.register-btn button {
  width: 60%;
  cursor: pointer;
  height: 35px;
  font-size: large;
  font-weight: bold;
  background-color: rgba(249, 60, 0, 1);
  color: white;
  border-radius: 30px;
  border-style: none;
  transition: background-color 0.3s ease;
}
.btn:active {
  background-color: #922f04;
}
.register-authentication {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.register-apple {
  margin-left: 10%;
}
.register-greeting {
  text-align: center;
  margin-top: 15%;
  font-size: large;
  color: grey;
}
.register-or {
  margin-top: 2%;
  text-align: center;
  color: grey;
}
@media only screen and (max-width: 600px) {
  .register-mainbox {
    margin-top: 60px;
    display: block;
    width: 100%;
  }
  .register-leftbox {
    width: 100%;
    background-color: white;
    display: none;
    color: black;
  }
  .register-mainfield {
    width: 100%;
    height: 100%;
    border: 2px solid white;
  }
  .register-input {
    margin-top: 15%;
  }
  .register-btn {
    margin-top: 10%;
  }
  .register-input input {
    margin-top: 5%;
  }
  .register-greeting span {
    margin-top: 4%;
  }
}
/* --------------Register page ends------------------- */

/* -----------------Login Page-------------------- */

.login-mainbox {
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 5%;
  border-radius: 30px;
}
.login-leftbox {
  width: 60%;
  padding-left: 5%;
  padding-top: 20%;
  padding-bottom: 20%;
  background-color: rgba(249, 60, 0, 1);
  color: white;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.login-mainfield {
  border: 3px solid rgb(255, 79, 4);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 40%;
}
.login-input {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-input input {
  width: 80%;
  margin-top: 4%;
  height: 25px;
  border-radius: 30px;
  border-style: groove;
  border: 1px solid black;
}
.login-btn {
  text-align: center;
  margin-top: 4%;
}
.login-btn button {
  width: 60%;
  cursor: pointer;
  height: 35px;
  font-size: large;
  font-weight: bold;
  background-color: rgba(249, 60, 0, 1);
  color: white;
  border-radius: 30px;
  border-style: none;
  transition: background-color 0.3s ease;
}
.btn:active {
  background-color: #922f04;
}
.login-authentication {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.login-apple {
  margin-left: 10%;
}
.login-greeting {
  text-align: center;
  margin-top: 15%;
  font-size: large;
  color: grey;
}
.register-or {
  margin-top: 2%;
  text-align: center;
  color: grey;
}
@media only screen and (max-width: 600px) {
  .login-mainbox {
    margin-top: 60px;
    display: block;
    width: 100%;
  }
  .login-leftbox {
    width: 100%;
    background-color: white;
    display: none;
    color: black;
  }
  .login-mainfield {
    width: 100%;
    height: 100%;
    border: 2px solid white;
  }
  .login-input {
    margin-top: 15%;
  }
  .login-btn {
    margin-top: 10%;
  }
  .login-input input {
    margin-top: 5%;
  }
  .login-greeting span {
    margin-top: 4%;
  }
}

/* ------------------Login Page Ends------------------ */

/* ----------------Item-card------------------------------------- */
.item-card-main {
  align-self: center;
}
.item-card-left {
  margin-left: 5%;
  margin-right: 10%;
}
.item-card-head {
  display: flex;
  margin-top: 10px;
  height: 30px;
}
.item-card-imgback {
  position: absolute;
  left: 1%;
}
.item-back {
  position: absolute;
  left: 2%;
}
.item-like {
  position: absolute;
  right: 10%;
}
.item-share {
  position: absolute;
  right: 5%;
}
.item-card-main {
  display: flex;
}
.itemcard {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.item {
  width: 345px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 5px;
}
.zoom {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 3%;
  top: 90%;
}
.item-card-slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 6px;
  width: 30px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 20%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: rgb(249, 60, 0);
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }

  to {
    opacity: 1;
  }
}
.item-card-price p {
  color: rgba(249, 60, 0, 1);
  font-weight: bolder;
  margin-bottom: 10px;
  font-size: large;
}
.item-card-price span {
  color: rgb(161, 161, 161);
}
.addtocart-btn {
  align-items: center;
  background-color: #f93c00;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.imgcart {
  margin-left: 1%;
}
.itemcard-color {
  display: flex;
  align-content: center;
}
#blackclr {
  background-color: black;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
#orangeclr {
  background-color: #f93c00;
  margin-left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
#blueclr {
  background-color: rgb(59, 59, 245);
  margin-left: 20px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.clrsize {
  text-align: center;
}
.size {
  display: flex;
  margin-top: 20px;
}
#small {
  margin-left: 20px;
  text-align: center;
}

#medium {
  margin-left: 20px;
}
#large {
  margin-left: 20px;
}
.instruction {
  margin-top: 25px;
}
.text {
  color: rgba(136, 136, 136, 1);
}
.firstrow {
  display: flex;
  margin-top: 20px;
}
.caution {
  width: 45%;
  color: rgba(136, 136, 136, 1);
}
.layout {
  width: 100%;
  margin: auto;
}
.accordion {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
}
.accordion__question p {
  margin: 5px;
  padding: 0;
}
.accordion__answer p {
  margin: 5px;
  padding: 10px;
  color: rgb(0, 0, 0);

  border-radius: 10px;
}
.accordion:hover {
  cursor: pointer;
}
.accordion__answer {
  display: none;
}
.accordion.active .accordion__answer {
  display: block;
}
.accordion__question {
  display: flex;
  align-items: center;
}
#shipping {
  width: 25px;
  height: 25px;
}
.more {
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
}
.recommended {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
@media screen and (max-width: 900px) {
  .head {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .imgback {
    position: absolute;
    left: 2.2%;
  }
  .back {
    position: absolute;
    left: 8%;
    padding-top: 2px;
  }
  .imglike {
    position: absolute;
    right: 16%;
  }
  .imgshare {
    position: absolute;
    right: 2.7%;
  }
  .itemcard {
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
  .item {
    width: 345px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 5px;
  }
  .zoom {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 3%;
    top: 90%;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .dot {
    height: 6px;
    width: 30px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 20%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color: rgb(249, 60, 0);
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.8;
    }

    to {
      opacity: 1;
    }
  }
  .name {
    display: flex;
    justify-content: center;
  }
  .imgcart {
    position: absolute;
  }
  .tshirt {
    position: absolute;
    left: 5%;
  }
  .imgcart {
    position: absolute;
    right: 5%;
  }
  .price {
    height: 100px;
    padding-top: 40px;
    margin-left: 10px;
  }
  .price span {
    color: rgba(249, 60, 0, 1);
    font-weight: bolder;
  }
  .color {
    display: flex;
    align-content: center;
  }
  #blackclr {
    background-color: black;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
  #orangeclr {
    background-color: #f93c00;
    margin-left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
  #blueclr {
    background-color: rgb(59, 59, 245);
    margin-left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }
  .clrsize {
    display: flex;
    position: absolute;
    width: 100%;
    text-align: center;
  }
  .size {
    display: flex;
    position: absolute;
    right: 6%;
  }
  #small {
    margin-left: 20px;
    text-align: center;
  }

  #medium {
    margin-left: 20px;
  }
  #large {
    margin-left: 20px;
  }
  .instruction {
    margin-top: 50px;
  }
  .text {
    color: rgba(136, 136, 136, 1);
  }
  .firstrow {
    display: flex;
    margin-top: 20px;
  }
  .caution {
    width: 45%;
    color: rgba(136, 136, 136, 1);
  }
  .layout {
    width: 100%;
    margin: auto;
  }
  .accordion {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
  }
  .accordion__question p {
    margin: 5px;
    padding: 0;
  }
  .accordion__answer p {
    margin: 5px;
    padding: 10px;
    color: rgb(0, 0, 0);

    border-radius: 10px;
  }
  .accordion:hover {
    cursor: pointer;
  }
  .accordion__answer {
    display: none;
  }
  .accordion.active .accordion__answer {
    display: block;
  }
  .accordion__question {
    display: flex;
    align-items: center;
  }
  #shipping {
    width: 25px;
    height: 25px;
  }
  .more {
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
  }
  .recommended {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}

/* ----------------Item-card-end------------------------------------- */

/* -----------------Checkout Page------------------------ */

.button {
  width: 40%;
  height: 47px;
  background-color: rgb(249, 60, 0);
  font-weight: bold;
  color: white;
  border-style: none;
  border-radius: 30px;
}

.color {
  color: rgb(249, 60, 0);
}

.color-grey {
  color: grey;
}

.ml-5 {
  margin-left: 5%;
}

.address span {
  width: 60%;
}

.arrow img {
  margin-top: 50px;
}

.checkout-payment {
  margin-top: -4px;
}

.cardimg {
  height: 100%;
}

.checkout-payment h3 {
  margin-left: 13px;
  margin-top: 7%;
}

.arrow2 {
  margin-left: 20%;
}

.arrow2 img {
  align-items: center;
}

.checkout-ar2 {
  height: 100%;
  margin-top: 7%;
  margin-left: 22%;
}

.checkout-lastrule {
  margin-top: 10px;
}

.checkout-counter {
  width: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-counter input {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: center;

  appearance: none;
  outline: 0;
}

.checkout-counter span {
  display: block;
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  text-align: center;
  background-color: rgb(241, 241, 241);
  border-radius: 30px;
  user-select: none;
}
.checkout-innerbox {
  margin-left: 6px;
}
.checkout-desc {
  color: grey;
}
.checkout-innerbox2 {
  margin-top: 10px;

  padding-top: 15px;
}

.checkout-innerbox2 h3 {
  margin-left: 47px;
}

.checkout-botomsec {
  margin-top: 45%;
}

.checkout-btn {
  background-color: rgb(249, 60, 0);
  color: white;
  text-align: center;
  width: 95%;
  align-items: center;
  margin: auto;
  padding-left: 20%;
  border: none;
  height: 12%;
  border-radius: 30px;
}
.checkout-btn img {
  height: 30px;
  width: 30px;
}

/* ------------------------------------------------------------------*/

/* ----------------Add new Address------------------------------------- */

.address-title {
  text-align: center;
}

.address-form {
  text-align: center;
}

.address-form input {
  border-style: none;
  border-bottom: 2px solid grey;
  margin-top: 10%;
}

.address-form-address input {
  width: 92%;
}

.address-form-city input {
  width: 92%;
}

.address-form-phone input {
  width: 92%;
}

.address-btn {
  margin-top: 82%;
  background-color: rgb(249, 60, 0);
  color: white;
  text-align: center;
  width: 95%;
  align-items: center;
  border: none;
  height: 12%;
  border-radius: 30px;
}

.address-btn1 {
  text-align: center;
}
.address-shipping h4 {
  margin-left: 15px;
}

/* -------------------------Checkout2----------------------------- */
/*-------------------------cart_item-----------------------------*/
.cart_item-card {
  width: 80%;
  margin: auto;
  display: flex;
  padding: 1% 1% 1% 1%;
}

.cart_item-image img {
  width: 200px;
}

.cart_item-content {
  width: 80%;
  margin-left: 3%;
}

.cart_item-description {
  display: flex;
  align-items: center;
}
.cart_item-description p {
  margin-left: 80%;
  font-size: larger;
  font-weight: bolder;
}

.cart_item-item-count {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.cart_item-delete {
  background-color: rgb(255, 0, 0);
  padding: 1% 1% 1% 1%;
  border-radius: 10%;
  color: whitesmoke;
  margin-left: 75%;
  cursor: pointer;
}

.cart_item-item-count button {
  width: 35px;
  height: 35px;
  font-size: 20px;
  border: none;
  background-color: rgba(211, 211, 211, 0.22);
  border-radius: 50%;
}

.cart_item-item-count button:hover {
  background-color: #ff583393;
  color: #ffffff;
}

.cart_item-item-count input {
  width: 3%;
  border: none;
  font-size: x-large;
  text-align: end;
}

.skuid-details {
  color: gray;
}

@media screen and (max-width: 900px) {
  .cart_item-card {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 1% 1% 1% 1%;
    align-items: center;
  }

  .cart_item-image img {
    height: 100px;
  }

  .cart_item-content {
    margin-left: 10px;
  }

  .cart_item-item-count {
    display: flex;
    margin-top: 10%;
  }

  .cart_item-item-count input {
    width: 5%;
    border: none;
    text-align: end;
  }

  .cart_item-item-count button {
    width: 35px;
    height: 35px;
    font-size: 20px;
    border: none;
    background-color: rgba(211, 211, 211, 0.22);
    border-radius: 50%;
  }

  .cart_item-delete {
    background-color: rgb(255, 0, 0);
    border-radius: 10%;
    padding: 3%;
    color: whitesmoke;
    cursor: pointer;
  }
}
/*-------------------------cart_item-----------------------------*/
/*-------------------------Collection-----------------------------*/

.collection-main {
  display: flex;
  /* background-color: pink; */
  width: 50%;
  margin: auto;
}

.collection-image {
  padding: 2% 2% 2% 2%;
}

.collection-image img {
  width: 300px;
}

.collection-short-description {
  color: gray;
}

.collection-rating {
  font-size: 24px;
  display: flex;
}
.star {
  margin: 0 5px;
  background-color: white;
}
.star:before {
  content: "★";
}
.star.active:before {
  color: gold;
}

.collection-decription {
  padding-top: 5%;
}

.collection-color {
  display: flex;
  align-items: center;
}

.collection-color p {
  padding-right: 2%;
}

.collection-color-circle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: red;
  margin: 0% 1% 0% 1%;
}

.collection-price {
  font-size: x-large;
}

.collection-addtocart {
  display: inline-flex;
  padding:0px 10px 0px 10px;
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--Primary, #f93c00);
  backdrop-filter: blur(2px);
  cursor: pointer;
}

/*-------------------------collection-----------------------------*/

/*---------------------------Contact Us--------------------------- */

.contact-mainbox {
  text-align: center;
  margin-top: 3%;
}
.contact-formbox form {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-bottom: 7.7%;
}
.contact-form-left {
  display: flex;
  flex-direction: column;
}
.contact-form-left input {
  margin-top: 9%;
  border-radius: 20px;
}
.contact-form-right {
  margin-left: 20%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form-right textarea {
  border-radius: 20px;
}
.contact-formbox input {
  width: 180%;
  height: 40px;
}
.contact-form-right button {
  width: 60%;
  height: 30px;
  background-color: rgb(249, 60, 0);
  color: white;
  font-size: large;
  margin-top: 5%;
  cursor: pointer;
  border: none;
  border-radius: 30px;
}

@media screen and (max-width: 900px) {
  .contact-formbox form {
    display: block;
  }
  .contact-form-left input {
    width: 100%;
    border: 1px solid rgb(249, 60, 0);
  }
  .contact-form-left {
    display: block;
  }
  .contact-form-right {
    margin-left: auto;
  }
  .contact-form-right textarea {
    width: 100%;
    margin-top: 4%;
    border: 1px solid rgb(249, 60, 0);
  }
}
