{% extends 'store/layout.html' %}
{% load static %}

{% block title %} FAQ {% endblock %}


{% block body %}
<section id="policy" class="section-3">
    <div id="contact-row" class="row">
        <h1><span class="stylized-underline">FAQ</span></h1>
        <div class="container faq">
            <div class="faq-head">
                <div class="header-container">
                    <div class="search-container">
                        <h2 class="faq-heading">Frequently asked questions</h2>
                        <span class="search-icon"><img src="{% static 'store/assets/search.png' %}"></span>
                        <input id="faq-search-input" type="text" class="search-input" placeholder="Looking for something?">
                        <span class="close-icon">&#10005;</span>
                    </div>
                </div> 
                <div id="faq-search-result"></div> 
            </div>
            <div class="faq-body">
                <div class="faq-navbar">
                    <div id="general" class="faq-navbar-item active" data-target="section1">General</div>
                    <div id="setting-up-faqs" class="faq-navbar-item" data-target="section2">Setting up FAQs</div>
                </div>
                <div class="faq-section active" id="section1">
                    {% for question, answer in faqs_section1.items %}
                    <div class="faq-item">
                        <div class="question">
                            <p class="question">{{ question }}</p>
                            <i class="fa fa-chevron-down dropdown-icon"></i>
                        </div>
                        <div class="answer"><p>{{ answer }}</p></div>
                    </div>
                    {% endfor%}
                </div>
                <div class="faq-section" id="section2">
                    {% for question, answer in faqs_section2.items %}
                    <div class="faq-item">
                        <div class="question">
                            <p class="question">{{ question }}</p>
                            <i class="fa fa-chevron-down dropdown-icon"></i>
                        </div>
                        <div class="answer"><p>{{ answer }}</p></div>
                    </div>
                    {% endfor%}
                </div>            
            </div>                  
        </div>
    </div>
</section>
<script src="{% static 'store/faq.js' %}"></script>
{% endblock %}
