{% extends "store/layout.html" %} {% load static %} {% block body %}

<div class="mobile-view-only">
  <div class="">
    <img src="{% static 'store/assets/banner1.png' %}" style="width: 100%" />
  </div>
  <div class="btnmain">
    <button class="btn">VIEW COLLECTION</button>
  </div>
</div>

<div class="desktop-view-only">
  <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="{% static 'store/assets/sample1.png' %}" style="width: 100%" />
    </div>

    <div class="mySlides fade">
      <img src="{% static 'store/assets/sample2.png' %}" style="width: 100%" />
    </div>

    <div class="mySlides fade">
      <img src="{% static 'store/assets/sample3.png' %}" style="width: 100%" />
    </div>
    
    <div class="slide-bar" style="text-align: center">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
  <div class="btnmain">
    <a href='/store/login' <button class="btn">VIEW COLLECTION</button> </a>
  </div>
</div>

<div class="new-ones">
  <h1 class="title">NEW ARRIVALS</h1>


  <div class="collection-main">
    <div class="collection-image">
        <img src="{% static 'store/assets/tshirt1.png' %}" alt="">
    </div>
    <div class="collection-item-description">
        <h2>title</h2>
        <p class="collection-short-description">sku-id-details</p>
        <div class="collection-rating">
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star active"></div>
            <div class="star"></div>
        </div>
        <p class="collection-decription">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptatibus beatae quod accusantium nemo molestias, quisquam a amet atque magnam quasi, et vitae reprehenderit, deserunt mollitia. Nisi laborum aspernatur soluta?</p>
        <div class="collection-color">
            <p>color</p>
            <div class="collection-color-circle"></div>
            <div class="collection-color-circle"></div>
            <div class="collection-color-circle"></div>
        </div>
        <p class="collection-price">123</p>
        <div class="collection-addtocart">
            <p>Add to cart</p>
        </div>
    </div>
</div>

<div class="collection-main">
  <div class="collection-image">
      <img src="{% static 'store/assets/tshirt1.png' %}" alt="">
  </div>
  <div class="collection-item-description">
      <h2>title</h2>
      <p class="collection-short-description">sku-id-details</p>
      <div class="collection-rating">
          <div class="star active"></div>
          <div class="star active"></div>
          <div class="star active"></div>
          <div class="star active"></div>
          <div class="star"></div>
      </div>
      <p class="collection-decription">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptatibus beatae quod accusantium nemo molestias, quisquam a amet atque magnam quasi, et vitae reprehenderit, deserunt mollitia. Nisi laborum aspernatur soluta?</p>
      <div class="collection-color">
          <p>color</p>
          <div class="collection-color-circle"></div>
          <div class="collection-color-circle"></div>
          <div class="collection-color-circle"></div>
      </div>
      <p class="collection-price">123</p>
      <div class="collection-addtocart">
          <p>Add to cart</p>
      </div>
  </div>
</div>




  {% comment %} <div class="new-arival-images">
    <img src="{% static 'store/assets/tshirt2.png' %}" alt="" />
    <div class="unit-info">
      <div class="text-desc">
        <div class="unit-title">
          <h4>Shirt Polo</h4>
        </div>
        <span class="unit-desc">Short sleev polo shirt</span>
        <div class="price">
          <h4>₹679</h4>
        </div>
      </div>
      <div class="hide">
        <p class="unit-desc productheading-color">Colors</p>

        <div class="product-color">
          <div class="color_options option1"></div>
          <div class="color_options option2"></div>
          <div class="color_options option3"></div>
        </div>
        <div class="more-img">
          <img
            class="extra-image"
            src="{% static 'store/assets/tshirt2.png' %}"
            alt=""
          />
          <img
            class="extra-image"
            src="{% static 'store/assets/tshirt2.png' %}"
            alt=""
          />
          <img
            class="extra-image"
            src="{% static 'store/assets/tshirt2.png' %}"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
  <div class="new-arival-images">
    <img src="{% static 'store/assets/tshirt2.png' %}" alt="" />
    <div class="unit-info">
      <div class="text-desc">
        <div class="unit-title">
          <h4>Shirt Polo</h4>
        </div>
        <span class="unit-desc">Short sleev polo shirt</span>
        <div class="price">
          <h4>₹679</h4>
        </div>
      </div>
      <div class="hide">
        <p class="unit-desc productheading-color">Colors</p>
        <div class="product-color">
          <div class="color_options option1"></div>
          <div class="color_options option2"></div>
          <div class="color_options option3"></div>
        </div>
        <div class="more-img">
          <img
            class="extra-image"
            src="{% static 'store/assets/tshirt2.png' %}"
            alt=""
          />
          <img
            class="extra-image"
            src="{% static 'store/assets/tshirt2.png' %}"
            alt=""
          />
          <img
            class="extra-image"
            src="{% static 'store/assets/tshirt2.png' %}"
            alt=""
          />
        </div>
      </div>
    </div>
  </div> {% endcomment %}
  <button class="explore">EXPLORE MORE > </button>
</div>

<div class="discount">
  <img src="{% static 'store/assets/image 12.png' %}" alt="" />
</div>

<div class="trending">
  <h1>@TRENDING</h1>
  <div class="tags">
    <span>#2023</span>
    <span>#fashion</span>
    <span>#collection</span>
    <span>#wibe</span>
    <span>#genz</span>
    <span>#underdogs</span>
    <span>#tshirt</span>
  </div>
</div>

<div class="features">
  <h1>Underdogs</h1>
  <div class="one">
    <span
      >We are proud to design and deliver quality and comfortable clothing for
      you.</span
    >
  </div>
  <div class="delivery">
    <img src="{% static 'store/assets/vehicle.png' %}" alt="" />
  </div>
  <div class="two">
    <span>Fast shiping. Free on orders over ₹700</span>
  </div>
  <div class="checkbox">
    <img src="{% static 'store/assets/checkbox.png' %}" alt="" />
  </div>
  <div class="three">
    <span>Sustainable process from start to finish.</span>
  </div>
  <div class="man">
    <img src="{% static 'store/assets/man.png' %}" alt="" />
  </div>
  <div class="four">
    <span>Unique designs and high-quality materials.</span>
  </div>
</div>

<div class="socials">
  <h1>Our Underdogs Community</h1>
  <div id="slider">
    <div id="slider-image-container">
      <figure class="slider-image">
        <img src="{% static 'store/assets/instagram1.png' %}" alt="" />
      </figure>

      <figure class="slider-image">
        <img src="{% static 'store/assets/instagram2.png' %}" alt="" />
      </figure>

      <figure class="slider-image">
        <img src="{% static 'store/assets/instagram1.png' %}" alt="" />
      </figure>

      <figure class="slider-image">
        <img src="{% static 'store/assets/instagram3.png' %}" alt="" />
      </figure>
      <figure class="slider-image">
        <img src="{% static 'store/assets/instagram1.png' %}" alt="" />
      </figure>
      <figure class="slider-image">
        <img src="{% static 'store/assets/instagram1.png' %}" alt="" />
      </figure>
    </div>
  </div>
</div>

<script>
let slideIndex = 0;
let slides = document.querySelectorAll(".mySlides");
let dots = document.querySelectorAll(".dot");
let slideshowInterval;

function showSlides() {
    for (let i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > slides.length) {
        slideIndex = 1;
    }
    for (let i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
}

showSlides();

function startSlideshow() {
    slideshowInterval = setInterval(showSlides, 2000); // Change image every 2 seconds
}

function stopSlideshow() {
    clearInterval(slideshowInterval);
}

document.querySelector(".slideshow-container").addEventListener("mouseenter", stopSlideshow);
document.querySelector(".slideshow-container").addEventListener("mouseleave", startSlideshow);

startSlideshow();// Start slideshow initially

</script>

{% endblock %}
