{% extends "store/layout.html" %}
 {% load static %} 
 
 {% block body %}
<div class="item-card-head">
  <div class="item-card-imgback">
    <img src="{% static 'store/assets/back.png' %}" alt="" />
  </div>
  <div class="item-back">
    <span>Back</span>
  </div>
  <div class="item-like">
    <img src="{% static 'store/assets/like.png' %}" alt="" />
  </div>
  <div class="item-share">
    <img src="{% static 'store/assets/share.png' %}" alt="" />
  </div>
</div>

<div class="item-card-main">
  <div class="item-card-left">
    <div class="item-card-slideshow-container">
      <div class="mySlides fade itemcard">
        <img src="{% static 'store/assets/tshirt1.png' %}" style="width: 100%" />
        <img class="zoom" src="{% static 'store/assets/zoom.png' %}" alt="zoom" />
      </div>

      <div class="mySlides fade itemcard">
        <img src="{% static 'store/assets/tshirt2.png' %}" style="width: 100%" />
        <img class="zoom" src="{% static 'store/assets/zoom.png' %}" alt="zoom" />
      </div>

      <div class="mySlides fade itemcard">
        <img src="{% static 'store/assets/tshirt1.png' %}" style="width: 100%" />
        <img class="zoom" src="{% static 'store/assets/zoom.png' %}" alt="zoom" />
      </div>

      <div class="slide-bar" style="text-align: center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>

  <div class="item-card-right">
    <div class="name">
      <h3 class="tshirt">{{ item.name }}</h3>
    </div>
    <div class="item-card-price">
      <span>{{ item.description }}</span>
      <p>₹{{ item.price }}</p>
    </div>
    <div class="clrsize">
      <div class="itemcard-color">
        <div>Color:</div>
        {% for color in colors %}
          <div id="{{ color }}clr"></div>
        {% endfor %}
      </div>
      <div class="size">
        <div>Size:</div>
        {% for size in sizes %}
          <div id="small">{{ size }}</div> 
          {% comment %} change id small to size  {% endcomment %}
        {% endfor %}
      </div>
    </div>
    <div class="addtocart-btn">
      <button class='btn'>Add to cart
      {% comment %} <img class="imgcart" src="{% static 'store/assets/shop.png' %}" alt="cart" /> {% endcomment %}
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1_1179)">
        <path d="M6.33105 8H17.67C17.9584 7.99997 18.2434 8.06229 18.5054 8.1827C18.7674 8.30311 19.0003 8.47876 19.1881 8.6976C19.3759 8.91645 19.5141 9.17331 19.5933 9.45059C19.6726 9.72786 19.6909 10.019 19.647 10.304L18.392 18.456C18.2831 19.1644 17.9241 19.8105 17.38 20.2771C16.836 20.7438 16.1428 21.0002 15.426 21H8.57405C7.85745 21 7.16453 20.7434 6.62068 20.2768C6.07683 19.8102 5.71797 19.1643 5.60905 18.456L4.35405 10.304C4.31022 10.019 4.32854 9.72786 4.40775 9.45059C4.48697 9.17331 4.62521 8.91645 4.81299 8.6976C5.00078 8.47876 5.23367 8.30311 5.49569 8.1827C5.75772 8.06229 6.04268 7.99997 6.33105 8Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9 11V6C9 5.20435 9.31607 4.44129 9.87868 3.87868C10.4413 3.31607 11.2044 3 12 3C12.7956 3 13.5587 3.31607 14.1213 3.87868C14.6839 4.44129 15 5.20435 15 6V11" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_1_1179">
        <rect width="24" height="24" fill="white"/>
        </clipPath>
        </defs>
        </svg>
      </button>
        
    </div>
    <div class="instruction">
      <p>MATERIALS</p>
      <span class="text"
        >We work with monitoring programmes to ensure compliance with safety,
        health and quality standards for our products.
      </span>
      <p>CARE</p>
      <span class="text"
        >To keep your jackets and coats clean, you only need to freshen them up
        and go over them with a cloth or a clothes brush. If you need to dry
        clean a garment, look for a dry cleaner that uses technologies that are
        respectful of the environment.</span
      >
    </div>
    <div class="firstrow">
      <div class="caution">
        <img src="{% static 'store/assets/inst1.png' %}" alt="" />
        <p>Iron at a maximum of 110ºC/230ºF</p>
      </div>
      <div class="caution">
        <img src="{% static 'store/assets/inst2.png' %}" alt="" />
        <p>Dry clean with tetrachloroethylene</p>
      </div>
    </div>
    <div class="firstrow">
      <div class="caution">
        <img src="{% static 'store/assets/inst3.png' %}" alt="" />
        <p>Do not use bleach</p>
      </div>
      <div class="caution">
        <img src="{% static 'store/assets/inst4.png' %}" alt="" />
        <p>Do not tumble dry</p>
      </div>
    </div>
    <div class="layout">
      <div class="accordion">
        <div class="accordion__question">
          <img id="shipping" src="{% static 'store/assets/shipping.png' %}" alt="" />
          <p>Free Flat Rate Shipping</p>
        </div>
        <div class="accordion__answer">
          <p>Estimated to be delivered on 15/07/2023 - 18/07/2023.</p>
        </div>
      </div>
      <div class="accordion">
        <div class="accordion__question">
          <img src="{% static 'store/assets/tag.png' %}" alt="" />
          <p>COD Policy</p>
        </div>
        <div class="accordion__answer">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
            perferendis, tempora dicta cupiditate voluptatibus
          </p>
        </div>
      </div>
    </div>
    <div class="more">You may also like</div>
    <div class="recommended">
      <!-- <img src="{% static 'store/assets/recommended.png' %}" alt="" /> -->
    </div>

    <div class="recommended">
      <!-- <img src="recommended2.png" alt="" /> -->
    </div>
  </div>
</div>
<script>
    let slideIndex = 0;
    showSlides();

    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 4000); // Change image every 4 seconds


    }
    let answers=document.querySelectorAll(".accordion");
    answers.forEach((event)=>{
        event.addEventListener('click',()=>{
            if(event.classList.contains("active")){
                event.classList.remove("active");
            }
            else{
                event.classList.add("active");
            }
        })
    })
</script>
{% endblock %}

