{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" href="{% static 'store/assets/favicon.png' %}" />
        <title>Underdogs: {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'master_css.css' %}">
        
    </head>
    <body>
        

        
        {% comment %} current woring navbar {% endcomment %}
        
        <nav>
            <div class="hamburger-container">
                <label class="hamburger">
                  <input type="checkbox">
                  <svg viewBox="0 0 32 32">
                    <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                    <path class="line" d="M7 16 27 16"></path>
                  </svg>
                </label>
            </div>
              
              <div class="slideout-bar">
                <div class="slideout-content">
                  <!-- Content for slideout bar goes here -->
                  <div class="user-profile">
                    <p>Hello!</p>
                    <h2>Kushagra Singh</h2>
                  </div>

                  <h2>Home</h2>
                  <h2>Cart</h2>
                  <h2>Collection</h2>
                  <h2>Order</h2>
                  <h2>Contact</h2>
                  <h2>About</h2>
                  <h2>FAQs</h2>

                  <div class="logout-button">
                    <p>Logout</p>
                  </div>
                </div>
              </div>
            <div class="logo">
                <img src="{% static 'store/assets/UDd1.png'%}" alt="">
            </div>
            <input type="text" class="search-input" id="searchInput" placeholder="Search..." style="display:none">
            <div class="search" onclick="toggleSearch()"><img src="{% static 'store/assets/search.svg' %}" alt=""></div>
            <div class="shop card" onclick="openPopup()"><img src="{% static 'store/assets/cart.svg' %}" alt=""></div>
            <div class="overlay" id="overlay" onclick="closePopup()">
                <div class="popup" onclick="event.stopPropagation();">
                  <span class="close-button" onclick="closePopup()">
                    <svg class="svg-icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M810.65984 170.65984q18.3296 0 30.49472 12.16512t12.16512 30.49472q0 18.00192-12.32896 30.33088l-268.67712 268.32896 268.67712 268.32896q12.32896 12.32896 12.32896 30.33088 0 18.3296-12.16512 30.49472t-30.49472 12.16512q-18.00192 0-30.33088-12.32896l-268.32896-268.67712-268.32896 268.67712q-12.32896 12.32896-30.33088 12.32896-18.3296 0-30.49472-12.16512t-12.16512-30.49472q0-18.00192 12.32896-30.33088l268.67712-268.32896-268.67712-268.32896q-12.32896-12.32896-12.32896-30.33088 0-18.3296 12.16512-30.49472t30.49472-12.16512q18.00192 0 30.33088 12.32896l268.32896 268.67712 268.32896-268.67712q12.32896-12.32896 30.33088-12.32896z"  /></svg>
                  </span>
                  <h2>CART</h2>
                  {% if cart %}

                  {% else %}
                  <img class="emptycart-img" src="{% static 'store/assets/emptycart1.png' %}" alt="">
                  {% endif %}                  
                </div>
            </div> 

           
        </nav>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            function toggleSearch() {
                const searchInput = document.getElementById('searchInput');
                if (searchInput.style.width === '15%') {
                  searchInput.style.width = '0';
                  searchInput.style.display = 'none';
                  $(".search img").attr("src", "{% static 'store/assets/search.svg' %}");
                } else {
                  searchInput.style.width = '15%';
                  searchInput.style.display = 'block';
                  searchInput.focus();
                  $(".search img").attr("src", "{% static 'store/assets/cross-23.svg' %}");
                }
              }



            document.querySelector('.hamburger input').addEventListener('change', function() {
                const slideoutBar = document.querySelector('.slideout-bar');
                const hamburger = document.querySelector('.hamburger');
                if (this.checked) {
                  slideoutBar.style.left = '0'; // Slide in the bar from left
                  hamburger.style.left = '250px'; // Move hamburger to right
                } else {
                  slideoutBar.style.left = '-250px'; // Slide out the bar to left
                  hamburger.style.left = '20px'; // Reset hamburger position
                }
              });


            function openPopup() {
              document.getElementById('overlay').style.display = 'flex';
            }
          
            function closePopup() {
              document.getElementById('overlay').style.display = 'none';
            }
          </script>
        {% block body %}











        {% endblock %}   
        <footer>
        <div class="footer-for-phone">

            
            <div class="top-options">
                <div class="about colorBlack">
                    <span>About</span>
                </div>
                <div class="Con colorBlack">
                    <span>Contact</span>
                </div>
                <div class="Blog colorBlack">
                    <span>Blog</span>
                </div>
            </div>
            <div class="contact">
                <div class="email colorGrey">
                    <span>support@underdogs.com</span>
                </div>
                <div class="phone colorGrey marginTop">
                    <span>(+91)9876543210</span>
                </div>
                <div class="timings colorGrey marginTop">
                    <span>07:00 - 21:00 - Everyday</span>
                </div>
            </div>
            <div class="social-media marginTop">
                <img src="{% static 'store/assets/youtube.png' %}" alt="" class="youtube marginMedia">
                <img src="{% static 'store/assets/insta.png' %}" alt="" class="instagram marginMedia">
                <img src="{% static 'store/assets/twitter.png' %}" alt="" class="twitter marginMedia">
            </div>
            <div class="copyright colorGrey marginTop">
                <span>Copyright&#169 UnderDogs All Rights Reserved</span>
            </div>


        </div>
        <div class="footer-for-desktop">


            <div class="footer-top">
                <img src="{% static 'store/assets/UDd1.png' %}" alt="">
                
                <div class="mail-box">
                    <form class="e-form">
                        <input type="email" placeholder="Subscribe to stay tuned!">
                        <button type="submit" class="sub-btn">Subscribe</button>
                    </form>
                </div>
            </div>

            <div class="footer-middle">
                <div class="first">
                    
                    <p class="footer-underdogs-title">UNDERDOGS</p>
                    <p class="footer-underdogs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae non officiis sapiente autem quaerat modi sequi saepe molestias soluta repellendus assumenda est veritatis, at deleniti ab odit dignissimos, facilis dolore.</p>
                </div>
                <div class="second">
                    <p class="footer-second-title">Products</p>
                    <p class="footer-products">random</p>
                    <p class="footer-products">random</p>
                    <p class="footer-products">random</p>
                    <p class="footer-products">random</p>
                </div>
                <div class="third">
                    <p class="footer-third-title">Company</p>
                    <p class="footer-products">random</p>
                    <p class="footer-products">random</p>
                    <p class="footer-products">random</p>
                    <p class="footer-products">random</p>
                </div>
                <div class="forth">
                    <p class="footer-forth-title">Contact Us</p>
                    <div class="footer-location">
                        <img src="{% static 'store/assets/location-pin.png' %}" alt="">
                        <p>location</p>
                    </div>
                    <div class="footer-mail">
                        <img src="{% static 'store/assets/email.png' %}" alt="">
                        <p>mail</p>
                    </div>
                    <p class="footer-socials">Follow us</p>
                    <div class="footer-social-icon">
                        <img src="{% static 'store/assets/youtube.png' %}" alt="">
                        <img src="{% static 'store/assets/insta.png' %}" alt="">
                        <img src="{% static 'store/assets/twitter.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="footer-last">
                <p>Copyright&#169 UnderDogs All Rights Reserved</p>
            </div>


        </div>
        </footer>
        <script>
            {% comment %} $(document).ready(function () {
                // Add to cart button click event listener
                $(".addtocart-btn .btn").click(function () {
                    // Get item details from the data attributes
                    var skuId = $(this).data("sku-id");
                    //const skuName = $(this).data("sku-name");
                    //const skuPrice = $(this).data("sku-price");
                    
        
                    var cart;
                    if(localStorage.getItem("cart") == null) {
                      cart = {};
                    }
                    else {
                      cart = JSON.parse(localStorage.getItem("cart"));
                    }
                    if (cart[skuId] != undefined){
                      cart[skuId] += 1;
                    } else {
                      cart[skuId] = 1;
                    }
                    console.log(skuId);
                    localStorage.setItem("cart", JSON.stringify(cart));
                    console.log(cart);
                    //console.log(localStorage.getItem("cart"));
                    
                });
                  
            }); {% endcomment %}

            $(document).ready(function () {
                // Initialize cart from local storage
                var cart = JSON.parse(localStorage.getItem("cart")) || {};
            
                // Function to update the cart and local storage
                function updateCart(skuId, quantity) {
                    cart[skuId] = quantity;
                    localStorage.setItem("cart", JSON.stringify(cart));
                    console.log(cart);
                }
            
                // Update the initial quantity count
                $(".quantity-count").text(cart[$("#add-to-cart-button").data("sku-id")] || 0);
            
                // Quantity selector button click events
                $(".quantity-button").click(function () {
                    var action = $(this).data("action");
                    var skuId = $("#add-to-cart-button").data("sku-id");
                    var currentQuantity = parseInt($(".quantity-count").text());
            
                    if (action === "increment") {
                        // Increase the quantity
                        currentQuantity += 1;
                    } else if (action === "decrement" && currentQuantity > 0) {
                        // Decrease the quantity (ensure it remains >= 0)
                        currentQuantity -= 1;
                    }
            
                    // Update the displayed quantity
                    $(".quantity-count").text(currentQuantity);
            
                    // Update the cart and local storage
                    updateCart(skuId, currentQuantity);
                });
            
                // "Add to Cart" button click event
                $("#add-to-cart-button").click(function () {
                    $(this).hide();
                    $(".quantity-selector").show();
                    var skuId = $(this).data("sku-id");
                    var currentQuantity = parseInt($(".quantity-count").text());
            
                    // Update the cart and local storage
                    updateCart(skuId, currentQuantity);
                });
            });
            
          </script>   
    </body>
</html>