{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" href="{% static 'store/assets/underdogs_icon.png' %}" sizes="64x64">
        <title>Underdogs: {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'master_css.css' %}">
        
        
    </head>
    <body>
        

        
        {% comment %} current woring navbar {% endcomment %}
        <nav>
            <label class="burger" for="burger">
                <input type="checkbox" id="burger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <div class="title">
                <img src="{% static 'store/assets/UDd1.png'%}" alt="">
            </div>
            <div class="search"><img src="search.png" alt=""></div>
            <div class="shop"><img src="shop.png" alt=""></div>
        </nav>









        {% block body %}


        {% endblock %}

        
        
        
        
        
        
        
        
   
        <footer>
            <div class="top-options">
                <div class="about colorBlack">
                    <span>About</span>
                </div>
                <div class="Con colorBlack">
                    <span>Contact</span>
                </div>
                <div class="Blog colorBlack">
                    <span>Blog</span>
                </div>
            </div>
            <div class="contact">
                <div class="email colorGrey">
                    <span>support@underdogs.com</span>
                </div>
                <div class="phone colorGrey marginTop">
                    <span>(+91)9876543210</span>
                </div>
                <div class="timings colorGrey marginTop">
                    <span>07:00 - 21:00 - Everyday</span>
                </div>
            </div>
            <div class="social-media marginTop">
                <img src="youtube.png" alt="" class="youtube marginMedia">
                <img src="insta.png" alt="" class="instagram marginMedia">
                <img src="twitter.png" alt="" class="twitter marginMedia">
            </div>
            <div class="copyright colorGrey marginTop">
                <span>Copyright&#169 UnderDogs All Rights Reserved</span>
            </div>
        </footer>
    </body>
</html>