{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" href="{% static 'store/assets/underdogs_icon.png' %}" sizes="64x64">
        <link rel="icon" type="image/png" href="{% static 'store/assets/favicon.png' %}" />
        <title>Underdogs: {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'master_css.css' %}">
        
        
    </head>
    <body>
        

        
        {% comment %} current woring navbar {% endcomment %}
        
        <nav>
            <div class="hamburger-container">
                <label class="hamburger">
                  <input type="checkbox">
                  <svg viewBox="0 0 32 32">
                    <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                    <path class="line" d="M7 16 27 16"></path>
                  </svg>
                </label>
            </div>
              
              <div class="slideout-bar">
                <div class="slideout-content">
                  <!-- Content for slideout bar goes here -->
                  <h2>Slideout Bar Content</h2>
                  <p>Any additional content you want.</p>
                </div>
              </div>
            <div class="logo">
                <img src="{% static 'store/assets/UDd1.png'%}" alt="">
            </div>
            <input type="text" class="search-input" id="searchInput" placeholder="Search..." style="display:none">
            <div class="search" onclick="toggleSearch()"><img src="{% static 'store/assets/search.svg' %}" alt=""></div>
            <div class="shop card" onclick="openPopup()"><img src="{% static 'store/assets/cart.svg' %}" alt=""></div>
            <div class="overlay" id="overlay" onclick="closePopup()">
                <div class="popup" onclick="event.stopPropagation();">
                  <span class="close-button" onclick="closePopup()">X</span>
                  <h2>CART</h2>
                  <img class="emptycart-img" src="{% static 'store/assets/emptycart1.png' %}" alt="">                  
                </div>
            </div> 

           
        </nav>
        <script>
            function toggleSearch() {
                const searchInput = document.getElementById('searchInput');
                if (searchInput.style.width === '20%') {
                  searchInput.style.width = '0';
                  searchInput.style.display = 'none';
                } else {
                  searchInput.style.width = '20%';
                  searchInput.style.display = 'block';
                  searchInput.focus();
                }
              }



            document.querySelector('.hamburger input').addEventListener('change', function() {
                const slideoutBar = document.querySelector('.slideout-bar');
                const hamburger = document.querySelector('.hamburger');
                if (this.checked) {
                  slideoutBar.style.left = '0'; // Slide in the bar from left
                  hamburger.style.left = '250px'; // Move hamburger to right
                } else {
                  slideoutBar.style.left = '-250px'; // Slide out the bar to left
                  hamburger.style.left = '20px'; // Reset hamburger position
                }
              });


            function openPopup() {
              document.getElementById('overlay').style.display = 'flex';
            }
          
            function closePopup() {
              document.getElementById('overlay').style.display = 'none';
            }
          </script>
        {% block body %}











        {% endblock %}   
        <footer>
        <div class="footer-for-phone">

            
            <div class="top-options">
                <div class="about colorBlack">
                    <span>About</span>
                </div>
                <div class="Con colorBlack">
                    <span>Contact</span>
                </div>
                <div class="Blog colorBlack">
                    <span>Blog</span>
                </div>
            </div>
            <div class="contact">
                <div class="email colorGrey">
                    <span>support@underdogs.com</span>
                </div>
                <div class="phone colorGrey marginTop">
                    <span>(+91)9876543210</span>
                </div>
                <div class="timings colorGrey marginTop">
                    <span>07:00 - 21:00 - Everyday</span>
                </div>
            </div>
            <div class="social-media marginTop">
                <img src="{% static 'store/assets/youtube.png' %}" alt="" class="youtube marginMedia">
                <img src="{% static 'store/assets/insta.png' %}" alt="" class="instagram marginMedia">
                <img src="{% static 'store/assets/twitter.png' %}" alt="" class="twitter marginMedia">
            </div>
            <div class="copyright colorGrey marginTop">
                <span>Copyright&#169 UnderDogs All Rights Reserved</span>
            </div>


        </div>
        <div class="footer-for-desktop">


            <div class="footer-top">
                <img src="{% static 'store/assets/UDd1.png' %}" alt="">
                
                <div class="mail-box">
                    <form class="e-form">
                        <input type="email" placeholder="Subscribe to stay tuned!">
                        <button type="submit" class="sub-btn">Subscribe</button>
                    </form>
                </div>
            </div>

            <div class="footer-middle">
                <div class="first">
                    
                    <p class="footer-underdogs-title">UNDERDOGS</p>
                    <p class="footer-underdogs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae non officiis sapiente autem quaerat modi sequi saepe molestias soluta repellendus assumenda est veritatis, at deleniti ab odit dignissimos, facilis dolore.</p>
                </div>
                <div class="second">
                    <p class="footer-second-title">Products</p>
                    <p class="footer-products">random</p>
                    <p class="footer-products">random</p>
                    <p class="footer-products">random</p>
                    <p class="footer-products">random</p>
                </div>
                <div class="third">
                    <p class="footer-third-title">Company</p>
                    <p class="footer-products">random</p>
                    <p class="footer-products">random</p>
                    <p class="footer-products">random</p>
                    <p class="footer-products">random</p>
                </div>
                <div class="forth">
                    <p class="footer-forth-title">Contact Us</p>
                    <div class="footer-location">
                        <img src="{% static 'store/assets/location-pin.png' %}" alt="">
                        <p>location</p>
                    </div>
                    <div class="footer-mail">
                        <img src="{% static 'store/assets/email.png' %}" alt="">
                        <p>mail</p>
                    </div>
                    <p class="footer-socials">Follow us</p>
                    <div class="footer-social-icon">
                        <img src="{% static 'store/assets/youtube.png' %}" alt="">
                        <img src="{% static 'store/assets/insta.png' %}" alt="">
                        <img src="{% static 'store/assets/twitter.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="footer-last">
                <p>Copyright&#169 UnderDogs All Rights Reserved</p>
            </div>


        </div>
        </footer>
    </body>
</html>