{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'master_css.css' %}">
    <title>Login</title>
  </head>
  <body>
    <div class="login-mainbox">
      <div class="login-leftbox">
        <div class="login-title">
          <h1>Welcome Back</h1>
          <span>Happy to see you around, Login Back to manage your account.</span>
        </div>
      </div>
      <div class="login-mainfield">
        <div class="login-form">
          <div class="login-greeting">
            <h3>Hello Underdog</h3>
            <span>Fill in the details to login back into your account</span>
          </div>
          <form action="{% url 'store:login' %}" method="post">
            {% csrf_token %}
            <div class="login-input">
              {{ form }}
            </div>
            <div class="login-btn">
              <button class="btn">Login</button>
            </div>
          </form>
        </div>
        <div class="register-or">
          <h3>or</h3>
        </div>
        <div class="login-authentication">
          <img src="{% static 'store/assets/google.png' %}" alt="" class="login-google" />
          <img src="{% static 'store/assets/apple.png'%}" alt="" class="login-apple" />
        </div>
      </div>
    </div>
  </body>
</html>
