{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'master_css.css' %}">
    <title>Register</title>
{% comment %} Register Page  {% endcomment %}
  </head>
  <body>
    {% if error %}
    {% comment %} Add a alert banner which shows the message, should be placed at the bottom of the form {% endcomment %}
    <span>{{ error }}</span>
    {% endif %}
  
    <div class="register-mainbox">
      <div class="register-leftbox">
        <div class="register-title">
          <h1>New to here?</h1>
          <span>Register now to speed up the checkout process</span>
        </div>
      </div>
      <div class="register-mainfield">
        <div class="register-form">
          <div class="register-greeting">
            <h3>Hello Underdog</h3>
            <span>Fill in the details to complete the registration process</span>
          </div>
          <form action="{% url 'store:register' %}" method="post">
            {% csrf_token %}
            <div class="register-input">
              {{ form }}
            </div>
            <div class="register-btn">
              <input class="btn" type="submit" value="Register">
            </div>
          </form>
        </div>
        <div class="register-or">
          <h3>or</h3>
        </div>
        <div class="register-authentication">
          <img src="{% static 'store/assets/google.png' %}" alt="" class="register-google" />
          <img src="{% static 'store/assets/apple.png'%}" alt="" class="register-apple" />
        </div>
      </div>
    </div>
  </body>
</html>
