{% extends 'store/layout.html' %}
{% load static%}

{% block title %} Shipping &amp; Returns {% endblock %}


{% block body %}
    <section id="shipping" class="section-3">
        <div id="contact-row" class="row">
            <h1><span class="stylized-underline">SHIPPING &amp; RETURNS</span></h1>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Shipping Policy</h5>
                        <p>I’m a shipping policy section. I’m a great place to update your customers about your shipping methods, packaging and costs. Use plain, straightforward language to build trust and make sure that your customers stay loyal!</p>
                        <p>I'm the second paragraph in your shipping policy section. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add details about your policy and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="returns" class="section-3">
        <div id="stockists-row" class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Return &amp; Exchange Policy</h5>
                        <p>I’m a return policy section. I’m a great place to let your customers know what to do in case they’ve changed their mind about their purchase, or if they’re dissatisfied with a product. Having a straightforward refund or exchange policy is a great way to build trust and reassure your customers that they can buy with confidence.</p>
                        <p>I'm the second paragraph in your return &amp; exchange policy. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add details about your policy and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}